.Nav{
/* height: 40px; */

display: flex;
justify-content: space-between;
position: fixed;
top: 0;
width: 100%;
margin: 20px;
}

.netflix_logo{
    width: 80px;
    object-fit: contain;
}
.netflix_avatar{
    width: 30px;
    object-fit: contain;
}